*{
    list-style-type: none;
}

ul li{
    margin-bottom: 2px;
}
#basicinfo{
    display: inline-block;
    background: white;
    width: 210px;
    border: 1px solid #DADCE2;
    min-height: 70px;
    padding: 18px;

}
#basicinfo  h4{
    font-size: 22px;
}
.postition{
    font-size: 16px;
    margin-bottom: 15px;
    color: #3C3F50;
}
img{
    width: 100px;
    height: 100px;
}
li > a:link{
    text-decoration: none;
    color: #2B9272;
}
#aboutUser{
    display: inline-block;
    background: white;
    border: 1px solid #DADCE2;
    margin-left: 3px;
    width: 837px;
    position: absolute;
    padding: 25px;
}
#aboutUser  li{
    margin-bottom: 7px;
}
#aboutUser ul{
    padding-bottom: 15px;
}
.profile-label{
    font-weight: bold;
    display: inline-block;
    width: 200px;
}
h6{
    display: block;
    border-top: solid 1px dimgray;
    padding-top: 8px;
}
#signature{
    padding: 10px;
    font-size: 14px;
    font-style: italic;
}