section > header > h1{
    text-transform: uppercase;
}
section > form > ul li{
    list-style-type: none;
	
	height: 40px;
    width: 550px;
    margin: 0 auto;
}

section > form > ul li > span{
    display: inline-block;
    font-weight: bold;
    width: 300px;
}
section > form{
    padding-top: 30px;
    background: white;
    width: 100%;
    border: 1px solid #DADCE2;
    margin: 0px auto;
    margin-bottom: 3px;
}

section > form > ul > li > input{
    outline: none;
    padding: 3px;
    font-size: 18px;
    font-family: "Times New Roman", serif;
    height: 30px;
    width: 220px;
}
section > form > ul > li > select{
    outline: none;
    font-family: "Times New Roman", serif;
    font-size: 18px;
    height: 30px;
    width: 220px;
}
section > form > ul > #buttons{
    width: 250px;
    margin: 25px auto;
}
section > form > ul > #buttons > button{
    outline: none;
    margin: 5px;
    color: white;
    font-size: 16px;
    background-color: rgba(43, 146, 114, 0.86);
    border: solid 2px rgba(43, 146, 114, 1);
    width: 100px;
    height: 30px;
}
section > form > ul > #buttons > button:hover{
    background-color: rgba(43, 146, 114, 1);
    cursor: pointer;
}