*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: #EFEFEF;
    font-family: Helvetica, sans-serif;
}

header, footer{
    width: 100%;
    height: 90px;
    background: #2B9272;
    border-bottom: 2px solid #DADCE2;
}

footer{
    height: 100px;
    border-top: 2px solid #DADCE2;
}

main > section{
    width:1050px;
    border: 0px solid black;
    margin: 0px auto;
    margin-top: 15px;
    margin-bottom: 30px;

}

main > section > article{
    background: white;
    width: 100%;
    border: 1px solid #DADCE2;
    min-height: 70px;
    margin: 0px auto;
    margin-bottom: 3px;
}

main > section > article > div{
    text-align: center;
    font-size: 14px;
    color: #595959;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

main > section > header{
    width: 100%;
    height: 45px;
    color: white;
    margin-bottom: 2px;
    background: #2B9272;
}

main > section > header > h1{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 19px;
}

main > section > article > table{
    width: 100%;
    height: 68px;
    border-collapse: collapse;
}

.topicImage{
    width: 30px;
}

.imgHolder{
    width: 70px;
    padding-left: 20px;
}

.topicDescription{
    width: 565px;
}

.topicStats{
    width:160px;
}

.topicLastPost{
    width: 260px;
}

.logo{
    width: 400px;
    display: inline-block;
}

.statsTable{
    width: 95%;
}

.statsTable td{
    text-align: right;
    font-size: 14px;

}

.topicTable{
    margin-left: 10px;
    width: 95%;
}

.topicTable tr td{
    text-align: left;
    font-size: 15px;
}

.topicTable tr td:hover{
    text-decoration: underline;
    cursor: pointer;
}

.topicTable tr:nth-child(2) td{
    font-size: 13px;
}

.lastPostTable{
    width: 95%;
    margin-left: 10px;
}

.lastPostTable tr td{
    text-align: left;
    font-size: 15px;
}

.lastPostTable tr:nth-child(2) td{
    font-size: 13px;
}

.lastPostTable tr td b{
    cursor: pointer;
}

.lastPostTable tr td span{
    color:#2B9272;
    cursor: pointer;
}

main > section > article > table > tbody > tr > td, main > section > article > table > tbody > tr > th{
    border: 1px solid #DADCE2;
}

footer p{
    text-align: center;
    color: white;
    font-size: 17px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    margin-top: 40px;
}

footer p span{
    cursor: pointer;
    font-size: 18px;
}

@-moz-document url-prefix() {
    .imgHolder{
        width: 50px;
    }
}

.aboutUs1 {
    height: 100px;
    padding-left: 20px;
}

.aboutUs2 {
    height: 100px;
    padding-left: 160px;
}

.aboutUs3 {
    height: 100px;
    padding-left: 260px;
}

.aboutUs4 {
    height: 100px;
    padding-left: 380px;
}

.aboutUs5 {
    height: 100px;
    padding-left: 500px;
}

.aboutUs6 {
    height: 100px;
    padding-left: 620px;
}









