*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: #EFEFEF;
    font-family: Helvetica, sans-serif;
}

header, footer{
    width: 100%;
    height: 50px;
    background: white;
    border-bottom: 2px solid #DADCE2;
}

footer{
    height: 150px;
    border-top: 2px solid #DADCE2;
}

main > section{
    width:1050px;
    border: 0px solid black;
    margin: 0px auto;
    margin-top: 15px;
    margin-bottom: 30px;

}

main > section > article{
    background: white;
    width: 100%;
    border: 1px solid #DADCE2;
    height: 70px;
    margin: 0px auto;
    margin-bottom: 3px;
}

main > section > header{
    width: 100%;
    height: 45px;
    color: white;
    margin-bottom: 2px;
    background: #454545;
}

main > section > header > h1{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 19px;
}